@model MVCBasico.Models.Venta

@{
    ViewData["Title"] = "Carrito";
}


<div class="scrollable-div">

<h4 style="text-align:center">Carrito de compras</h4>


<p>A continuación procederá a completar datos y pagar el producto elegido:</p>


<div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="@ViewBag.Nombre" disabled>
</div>

<div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Precio</span>
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="@ViewBag.Precio" disabled>
</div>

    <form asp-controller="Venta" asp-action="Confirmacion" method="post">
        
        <div class="row mb-3">
            <label asp-for="ClienteId" class="col-sm-2 col-form-label">Id cliente</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" asp-for="ClienteId" name="ClienteId" value="1">
            </div>
        </div>

        <div class="row mb-3" style="display: none;">
            <label asp-for="ProductoId" class="col-sm-2 col-form-label">Id producto</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" asp-for="ProductoId" name="ProductoId" value="@ViewBag.Id">
            </div>
        </div>

    <div class="row mb-3">
        <label asp-for="emailComprador" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
                <input type="email" class="form-control" asp-for="emailComprador" name="emailComprador" placeholder="ingrese email donde recibirá factura">
        </div>
    </div>
    <div class="row mb-3">
            <label asp-for="direccionEnvio" class="col-sm-2 col-form-label">Dirección envío</label>
        <div class="col-sm-10">
                <input type="text" name="direccionEnvio" class="form-control" asp-for="direccionEnvio" placeholder="Av. Rivadavia 1403">
        </div>
    </div>

    <fieldset class="row mb-3">
        <legend class="col-form-label col-sm-2 pt-0">Medio de pago</legend>
        <div class="col-sm-10">
            <div class="form-check">
                    <input asp-for="medioDePago" class="form-check-input" type="radio" name="medioDePago" id="gridRadios1" value="tarjeta-credito" checked>
                    <label class="form-check-label" asp-for="medioDePago">
                    Tarjeta crédito
                </label>
            </div>
            <div class="form-check">
                    <input asp-for="medioDePago" class="form-check-input" type="radio" name="medioDePago" id="gridRadios2" value="tarjeta-debito">
                    <label class="form-check-label" asp-for="medioDePago">
                    Tarjeta débito
                </label>
            </div>
            <div class="form-check">
                    <input asp-for="medioDePago" class="form-check-input" type="radio" name="medioDePago" id="gridRadios3" value="mercado-pago">
                    <label class="form-check-label" asp-for="medioDePago">
                    Mercado pago
                </label>
            </div>
        </div>
    </fieldset>

        <div class="row">
            <div class="col">
                <input asp-for="nombreTarjeta" name="nombreTarjeta" type="text" class="form-control" placeholder="Nombre tarjeta" aria-label="Nombre tarjeta">
            </div>
            <div class="col">
                <input asp-for="numeroTarjeta" name="numeroTarjeta" type="text" class="form-control" placeholder="Numero tarjeta" aria-label="Numero tarjeta">
            </div>
            <div class="col">
                <input asp-for="fechaVencimientoTarjeta" name="fechaVencimientoTarjeta" type="text" class="form-control" placeholder="Fecha venc. dd/mm/aaaa" aria-label="Fecha vencimiento">
            </div>
            <div class="col">
                <input asp-for="cvv" name="cvv" type="text" class="form-control" placeholder="CVV" aria-label="Clave cvv">
            </div>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Pagar" class="btn btn-success" />
            <a asp-controller="Home" asp-action="Index" class="btn btn-danger">Cancelar</a>
        </div>

</form>
    
</div>
