@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="div-horizontal">
<h1 class="display-4">Seleccione el tipo de producto que desea ver</h1>
<br />
    <img src="../images/mac.jpg" class="img-thumbnail text-center">
</div>
<br />
<div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-primary" type="button" asp-controller="Auricular" asp-action="Index" asp-route-clienteId="@ViewBag.clienteId">Auriculares</a>
    <a class="btn btn-primary" type="button" asp-controller="Celular" asp-action="Index" asp-route-clienteId="@ViewBag.clienteId">Celulares</a>
    <a class="btn btn-primary" type="button" asp-controller="Computadora" asp-action="Index" asp-route-clienteId="@ViewBag.clienteId">Computadoras</a>
</div>

<style>
    body {
        background-color: #f0f8ff;
        color: #333;
    }

    .text-center {
        color: black;
    }

    h1.display-4 {
        color: darkblue;
        font-size: 40px;
    }

    img{
        max-width: 100; /* Ajusta según tu necesidad */
        height:auto;
    }

    .div-horizontal {
        width: 50%; /* Ajusta el ancho según tus necesidades */
        margin: 0 auto; /* Centra horizontalmente */
        background-color: lightblue; /* Solo para visualizar el div */
        text-align: center; /* Alinea el contenido dentro del div */
        padding: 20px; /* Espacio interno del div */
    }
</style>